{% extends 'base.html.twig' %}

{% block title %}Edit Menu Item{% endblock %}

{% block body %}
    <h1>Edit Menu Item</h1>

    {{ include('menu_item/_form.html.twig', {'button_label': 'Update'}) }}

    {% include "menu_item/_back_to_list_form.twig" %}

    {{ include('menu_item/_delete_form.html.twig') }}
{% endblock %}
