{% extends 'base.html.twig' %}

{% block title %}New Menu Item{% endblock %}

{% block body %}
    <h1>Create new Menu Item</h1>

    {{ include('menu_item/_form.html.twig') }}

    <a href="{{ path('menu_item_index') }}">back to list</a>
{% endblock %}
