{% extends 'base.html.twig' %}

{% block title %}New Menu Item{% endblock %}

{% block body %}
    <h1>Create new Menu Item</h1>

    {{ include('menu_item/_form.html.twig') }}

    {% include "menu_item/_back_to_list_form.twig" %}

{% endblock %}
