{% extends 'base.html.twig' %}

{% block title %}Food Menu
{% endblock %}

{% block body %}
    <h2 class="menu_title" id="menu">Menu</h2>
    <div class="menu">
        {% for menu_section in menu_sections|sortByField('sectionNumber', 'asc') %}
            <h3 class="menu_section_title">{{ menu_section.sectionTitle }}
            </h3>
            <div class="menu_item_section">
                {% for menu_item in menu_items %}
                    {% if menu_section.id == menu_item.menuSection.id %}
                        {% if menu_item.OnMenu == 'yes' %}
                            <div class="menu_item_grid">
                                <div>
                                    <p class="menu_desc_grid">{{ menu_item.itemDescription }}</p>
                                </div>
                                <div>
                                    <p class="menu_price_grid">&euro;{{ menu_item.itemPrice }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

