{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
    <h2 class="menu_title" id="menu">Menu</h2>
    <div class="menu">
        {% for menu_section in menu_sections|sortByField('sectionNumber', 'asc') %}
            <h3 class="menu_section_title">{{ menu_section.sectionTitle }}
            </h3>
            {% for menu_item in menu_items %}
                {% if menu_section.id == menu_item.menuSection.id %}
                    {% if menu_item.OnMenu == 'yes' %}
                        <p class="menu_item_desc">{{ menu_item.itemDescription }}
                            - &euro;{{ menu_item.itemPrice }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
